job "testing-resources" {

  datacenters = [
    "dc1"]
  type = "service"

  update {
    max_parallel = 1
    min_healthy_time = "10s"
    healthy_deadline = "3m"
    auto_revert = false
    canary = 0
  }

  group "testing-resources-group" {
    count = 1
    restart {
      attempts = 2
      interval = "30m"
      delay = "15s"
      mode = "fail"
    }
    ephemeral_disk {
      size = 300
    }

    task "grpc-test-service" {
      driver = "raw_exec"
      config {
        command = "{{ .OutputDirectory }}/grpc-test-service"
        args = ["-p=${NOMAD_PORT_http}"]
      }
      resources {
        cpu = 500
        memory = 256
        network {
          mbits = 10
          port "http" {}
        }
      }
      service {
        name = "grpc-test-service"
        port = "http"
        check {
          name = "alive"
          type = "tcp"
          interval = "10s"
          timeout = "2s"
        }
      }
    }

    task "helloservice-2" {
      driver = "raw_exec"
      config {
        command = "{{ .OutputDirectory }}/helloservice"
        args = ["--reply=expected-reply-2", "-p=${NOMAD_PORT_http}"]
      }
      resources {
        cpu = 500
        memory = 256
        network {
          mbits = 10
          port "http" {}
        }
      }
      service {
        name = "helloservice-2"
        port = "http"
        check {
          name = "alive"
          type = "tcp"
          interval = "10s"
          timeout = "2s"
        }
      }
    }

    task "helloservice" {
      driver = "raw_exec"
      config {
        command = "{{ .OutputDirectory }}/helloservice"
        args = ["--reply=expected-reply-1", "-p=${NOMAD_PORT_http}"]
      }
      resources {
        cpu = 500
        memory = 256
        network {
          mbits = 10
          port "http" {}
        }
      }
      service {
        name = "helloservice"
        port = "http"
        check {
          name = "alive"
          type = "tcp"
          interval = "10s"
          timeout = "2s"
        }
      }
    }

    task "petstore" {
      driver = "raw_exec"
      config {
        command = "{{ .OutputDirectory }}/petstore"
        args = ["-p=${NOMAD_PORT_http}"]
      }
      resources {
        cpu = 500
        memory = 256
        network {
          mbits = 10
          port "http" {}
        }
      }
      service {
        name = "petstore"
        port = "http"
        check {
          name = "alive"
          type = "tcp"
          interval = "10s"
          timeout = "2s"
        }
      }
    }

    task "nats-streaming" {
      driver = "raw_exec"
      config {
        command = "{{ .OutputDirectory }}/nats-streaming-server"
        args = ["-p=${NOMAD_PORT_nats}"]
      }
      resources {
        cpu = 500
        memory = 256
        network {
          mbits = 10
          port "nats" {}
        }
      }
      service {
        name = "nats-streaming"
        port = "nats"
        check {
          name = "alive"
          type = "tcp"
          interval = "10s"
          timeout = "2s"
        }
      }
    }

  }

}
