ingress:
  type: NodePort
  replicaCount: 1
  port: 8080
  securePort: 8443
  adminPort: 19000
  image: "soloio/envoy"
  imageTag: "latest"
  imagePullPolicy: Always

control_plane:
  replicaCount: 1
  port: 8081
  image: "soloio/control-plane"
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always

#  extra
function_discovery:
  image: soloio/function-discovery
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always
  enable: true

kube_ingress_controller:
  image: soloio/kube-ingress-controller
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always
  enable: true

kube_upstream_discovery:
  image: soloio/kube-upstream-discovery
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always
  enable: true