ingress:
  type: NodePort
  replicaCount: 1
  port: 8080
  securePort: 8443
  adminPort: 19000
  image: "soloio/envoy"
  imageTag: "latest"
  imagePullPolicy: Always

control-plane:
  replicaCount: 1
  port: 8081
  image: "soloio/control-plane"
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always

#  extra
function-discovery:
  image: soloio/function-discovery
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always
  enable: true

kube-ingress-controller:
  image: soloio/kube-ingress-controller
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always
  enable: true

kube-upstream-discovery:
  image: soloio/kube-upstream-discovery
  imageTag: {{ .ImageTag }}
  imagePullPolicy: Always
  enable: true