# Make docker ignore all the directories that we do not need during builds.
# This configuration currently only applies to the `extauth` build container build;
# all other builds are run from the `_output` directory and ignore this file.
/ci
/install
/projects/ui/node_modules
/test
/vendor_any

# We need the verification script in the `auth-plugins` make target
/_output
!/_output/extauth/verify-plugins-linux-amd64
