[submodule "aws/envoy"]
	path = aws/envoy
	url = https://github.com/solo-io/envoy-lambda
[submodule "google/envoy"]
	path = google/envoy
	url = https://github.com/solo-io/envoy-google-function
[submodule "nats-streaming/envoy"]
	path = nats-streaming/envoy
	url = http://github.com/solo-io/envoy-nats-streaming
[submodule "common/transformation/envoy"]
	path = common/transformation/envoy
	url = https://github.com/solo-io/envoy-transformation
[submodule "azure/envoy"]
	path = azure/envoy
	url = https://github.com/solo-io/envoy-azure-functions
