[submodule "pkg/plugins/google/envoy"]
	path = pkg/plugins/google/envoy
	url = https://github.com/solo-io/envoy-google-function
[submodule "pkg/plugins/nats-streaming/envoy"]
	path = pkg/plugins/nats-streaming/envoy
	url = https://github.com/solo-io/envoy-nats-streaming
[submodule "pkg/plugins/common/transformation/envoy"]
	path = pkg/plugins/common/transformation/envoy
	url = https://github.com/solo-io/envoy-transformation
[submodule "pkg/plugins/aws/envoy"]
	path = pkg/plugins/aws/envoy
	url = https://github.com/solo-io/envoy-lambda
[submodule "pkg/plugins/azure/envoy"]
	path = pkg/plugins/azure/envoy
	url = https://github.com/solo-io/envoy-azure-functions
[submodule "pkg/plugins/connect/envoy"]
	path = pkg/plugins/connect/envoy
	url = https://github.com/solo-io/envoy-consul-connect
[submodule "build-envoy/envoy-common"]
	path = build-envoy/envoy-common
	url = https://github.com/solo-io/envoy-common
[submodule "build-envoy/envoy"]
	path = build-envoy/envoy
	url = https://github.com/envoyproxy/envoy
