vendor/
vendor.*/
_gloo_config*
site/
/envoy
/control-plane
/function-discovery
/kube-ingress-controller
/upstream-discovery
test/kube_e2e/kube_resources/helm-values.yaml
test/kube_e2e/kube_resources/testing-resources.yml

test/kube_e2e/kube_resources/install.yml
_output/
cmd/control-plane/control-plane
cmd/function-discovery/gloo-function-discovery
test/nomad_e2e/nomad_resources/install.nomad
test/nomad_e2e/nomad_resources/testing-resources.nomad
build-envoy/bazel-bin
build-envoy/bazel-build-envoy
build-envoy/bazel-genfiles
build-envoy/bazel-out
build-envoy/bazel-testlogs
build-envoy/ci/WORKSPACE
build-envoy/ci/BUILD
