vendor
_output
_test
_artifacts
.idea
site
.firebase

themes
install/gloo.yaml

cloudbuild-local*.yaml

# OSX files
.DS_Store

docs/helm-values.md
docs/content

# ignore intermediate files that gomock sometimes generates
**/gomock_reflect*
