vendor/
vendor.*/
_gloo_config*
site/
/envoy
/control-plane
/function-discovery
/kube-ingress-controller
/kube-upstream-discovery
install/helm/gloo/values.yaml
test/e2e/kube_resources/helm-values.yaml
