{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "@babel",
    "react-hooks"
  ],
  "extends": [
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
