{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 20,
      "panels": [],
      "title": "Envoy control plane status (Gloo deployment)",
      "type": "row"
    },
    {
      "datasource": null,
      "description": "number of in-sync envoy proxies for the LDS API",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 0,
        "y": 1
      },
      "id": 12,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_insync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.listener.v3.Listener\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.listener.v3.Listener\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        }
      ],
      "title": "LDS sync status",
      "transformations": [
        {
          "id": "configFromData",
          "options": {
            "applyTo": {
              "id": "byFrameRefID",
              "options": "A"
            },
            "configRefId": "B",
            "mappings": [
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "max",
                "reducerId": "lastNotNull"
              },
              {
                "fieldName": "Time",
                "handlerKey": "__ignore"
              },
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", instance=\"10.20.2.18:9091\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gloo-6689fc55f6-wkr78\", pod_template_hash=\"6689fc55f6\", resource=\"type.googleapis.com/envoy.config.listener.v3.Listener\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "__ignore"
              }
            ]
          }
        }
      ],
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "number of in-sync envoy proxies for the RDS API",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 6,
        "y": 1
      },
      "id": 14,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_insync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.route.v3.RouteConfiguration\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.route.v3.RouteConfiguration\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        }
      ],
      "title": "RDS sync status",
      "transformations": [
        {
          "id": "configFromData",
          "options": {
            "applyTo": {
              "id": "byFrameRefID",
              "options": "A"
            },
            "configRefId": "B",
            "mappings": [
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "max",
                "reducerId": "lastNotNull"
              },
              {
                "fieldName": "Time",
                "handlerKey": "__ignore"
              },
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", instance=\"10.20.2.18:9091\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gloo-6689fc55f6-wkr78\", pod_template_hash=\"6689fc55f6\", resource=\"type.googleapis.com/envoy.config.route.v3.RouteConfiguration\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "__ignore"
              }
            ]
          }
        }
      ],
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "number of in-sync envoy proxies for the CDS API",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 12,
        "y": 1
      },
      "id": 8,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_insync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "instant": false,
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        }
      ],
      "title": "CDS sync status",
      "transformations": [
        {
          "id": "configFromData",
          "options": {
            "applyTo": {
              "id": "byFrameRefID",
              "options": "A"
            },
            "configRefId": "B",
            "mappings": [
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "max",
                "reducerId": "lastNotNull"
              },
              {
                "fieldName": "Time",
                "handlerKey": "__ignore"
              },
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", instance=\"10.20.2.18:9091\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gloo-6689fc55f6-wkr78\", pod_template_hash=\"6689fc55f6\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "__ignore"
              }
            ]
          }
        }
      ],
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "number of in-sync envoy proxies for the EDS API",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 7,
        "w": 6,
        "x": 18,
        "y": 1
      },
      "id": 10,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_insync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.endpoint.v3.ClusterLoadAssignment\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.endpoint.v3.ClusterLoadAssignment\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        }
      ],
      "title": "EDS sync status",
      "transformations": [
        {
          "id": "configFromData",
          "options": {
            "applyTo": {
              "id": "byFrameRefID",
              "options": "A"
            },
            "configRefId": "B",
            "mappings": [
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "max",
                "reducerId": "lastNotNull"
              },
              {
                "fieldName": "Time",
                "handlerKey": "__ignore"
              },
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", instance=\"10.20.2.18:9091\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gloo-6689fc55f6-wkr78\", pod_template_hash=\"6689fc55f6\", resource=\"type.googleapis.com/envoy.config.endpoint.v3.ClusterLoadAssignment\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "__ignore"
              }
            ]
          }
        }
      ],
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "number of in-sync envoy proxies for the ExtAuth server",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 0,
        "y": 8
      },
      "id": 16,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_insync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/enterprise.gloo.solo.io.ExtAuthConfig\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/enterprise.gloo.solo.io.ExtAuthConfig\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        }
      ],
      "title": "ExtAuth xDS sync status",
      "transformations": [
        {
          "id": "configFromData",
          "options": {
            "applyTo": {
              "id": "byFrameRefID",
              "options": "A"
            },
            "configRefId": "B",
            "mappings": [
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "max",
                "reducerId": "lastNotNull"
              },
              {
                "fieldName": "Time",
                "handlerKey": "__ignore"
              },
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", instance=\"10.20.2.18:9091\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gloo-6689fc55f6-wkr78\", pod_template_hash=\"6689fc55f6\", resource=\"type.googleapis.com/enterprise.gloo.solo.io.ExtAuthConfig\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "__ignore"
              }
            ]
          }
        }
      ],
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "number of in-sync envoy proxies for the Rate Limiting server",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 12,
        "x": 12,
        "y": 8
      },
      "id": 18,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_insync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/glooe.solo.io.RateLimitConfig\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/glooe.solo.io.RateLimitConfig\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "",
          "refId": "B"
        }
      ],
      "title": "Rate-Limit xDS sync status",
      "transformations": [
        {
          "id": "configFromData",
          "options": {
            "applyTo": {
              "id": "byFrameRefID",
              "options": "A"
            },
            "configRefId": "B",
            "mappings": [
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", kubernetes_namespace=\"$namespace\", resource=\"type.googleapis.com/envoy.config.cluster.v3.Cluster\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "max",
                "reducerId": "lastNotNull"
              },
              {
                "fieldName": "Time",
                "handlerKey": "__ignore"
              },
              {
                "fieldName": "glooe_solo_io_xds_total_entities{gloo=\"gloo\", instance=\"10.20.2.18:9091\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gloo-6689fc55f6-wkr78\", pod_template_hash=\"6689fc55f6\", resource=\"type.googleapis.com/glooe.solo.io.RateLimitConfig\"{{.ExtraMetricQueryParameters}}}",
                "handlerKey": "__ignore"
              }
            ]
          }
        }
      ],
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 13
      },
      "id": 26,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "api_gloo_solo_io_translator_resources{proxy_name=\"$namespace.gateway-proxy\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "{{resource}}",
          "refId": "A"
        }
      ],
      "title": "Number of resources translated by Gloo to Envoy",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 13
      },
      "id": 42,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_nack{gloo=\"gloo\", kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "NACK",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "glooe_solo_io_xds_outofsync{gloo=\"gloo\", kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}}",
          "hide": false,
          "interval": "",
          "legendFormat": "Out of sync - {{resource}}",
          "refId": "B"
        }
      ],
      "title": "xDS sync errors",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "gridPos": {
        "h": 6,
        "w": 24,
        "x": 0,
        "y": 21
      },
      "id": 24,
      "options": {
        "content": "# Alert tips\n\nAlert if:\n- any gauge value == 0\n- the value of _listeners_ in _\"Number of resources translated by Gloo to Envoy\"_ == 0\n- any metric in _\"xDS sync errors\"_ is above 0",
        "mode": "markdown"
      },
      "pluginVersion": "8.2.1",
      "title": "Info",
      "type": "text"
    },
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 27
      },
      "id": 28,
      "panels": [],
      "title": "Envoy proxies",
      "type": "row"
    },
    {
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 1,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 1
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 5,
        "x": 0,
        "y": 28
      },
      "id": 33,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "sum(envoy_server_live{kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}})",
          "interval": "",
          "legendFormat": "{{kubernetes_pod_name}}",
          "refId": "A"
        }
      ],
      "title": "Number of Envoy servers live",
      "type": "stat"
    },
    {
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 1
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 19,
        "x": 5,
        "y": 28
      },
      "id": 2,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "exemplar": true,
          "expr": "envoy_control_plane_connected_state{kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}}",
          "interval": "",
          "legendFormat": "{{kubernetes_pod_name}}",
          "refId": "A"
        }
      ],
      "title": "Envoy control plane connected state",
      "type": "gauge"
    },
    {
      "datasource": null,
      "description": "based on the RDS failures and rejected metrics",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 33
      },
      "id": 30,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "rate(envoy_http_rds_update_failure{envoy_http_conn_manager_prefix=\"http\", kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}}[1m])",
          "interval": "",
          "legendFormat": "Update failures - {{kubernetes_pod_name}}",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "rate(envoy_http_rds_update_rejected{envoy_http_conn_manager_prefix=\"http\", kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}}[1m])",
          "hide": false,
          "interval": "",
          "legendFormat": "Update rejected - {{kubernetes_pod_name}}",
          "refId": "B"
        }
      ],
      "title": "RDS update rejected and failures",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 33
      },
      "id": 38,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "rate(envoy_listener_manager_lds_update_rejected{{{.ExtraMetricQueryParameters}}}[1m])",
          "interval": "",
          "legendFormat": "{{kubernetes_pod_name}}",
          "refId": "A"
        }
      ],
      "title": "LDS update rejected",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "__systemRef": "hideSeriesFrom",
            "matcher": {
              "id": "byNames",
              "options": {
                "mode": "exclude",
                "names": [
                  "{envoy_http_conn_manager_prefix=\"http\", envoy_rds_route_config=\"listener-__-8443-routes\", gateway_proxy_id=\"gateway-proxy\", gloo=\"gateway-proxy\", instance=\"10.20.2.33:8081\", job=\"kubernetes-pods\", kubernetes_namespace=\"gloo-system\", kubernetes_pod_name=\"gateway-proxy-5549bcdb8f-5qlzm\", pod_template_hash=\"5549bcdb8f\"{{.ExtraMetricQueryParameters}}}"
                ],
                "prefix": "All except:",
                "readOnly": true
              }
            },
            "properties": [
              {
                "id": "custom.hideFrom",
                "value": {
                  "legend": false,
                  "tooltip": false,
                  "viz": true
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 41
      },
      "id": 40,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "rate(envoy_cluster_manager_cds_update_rejected{{{.ExtraMetricQueryParameters}}}[1m])",
          "interval": "",
          "legendFormat": "{{kubernetes_pod_name}}",
          "refId": "A"
        }
      ],
      "title": "CDS update rejected",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "decbytes"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 41
      },
      "id": 32,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "exemplar": true,
          "expr": "rate(envoy_cluster_upstream_cx_rx_bytes_total{envoy_cluster_name=\"xds_cluster\"{{.ExtraMetricQueryParameters}}}[1m])",
          "interval": "",
          "legendFormat": "XDS Request Bytes - {{kubernetes_pod_name}}",
          "refId": "A"
        },
        {
          "exemplar": true,
          "expr": "rate(envoy_cluster_upstream_cx_tx_bytes_total{envoy_cluster_name=\"xds_cluster\"{{.ExtraMetricQueryParameters}}}[1m])",
          "hide": false,
          "interval": "",
          "legendFormat": "XDS Response Bytes - {{kubernetes_pod_name}}",
          "refId": "B"
        }
      ],
      "title": "I/O with the xDS server",
      "type": "timeseries"
    },
    {
      "datasource": null,
      "description": "",
      "gridPos": {
        "h": 11,
        "w": 24,
        "x": 0,
        "y": 49
      },
      "id": 36,
      "options": {
        "content": "# Alert tips\n\nAlert if:\n- any line in the _\"CDS/RDS/LDS update rejected\"_ stays above 0\n- _\"I/O with the xDS server\"_ stays flat above 0\n- Envoy live servers == 0\n- any gauge under _\"Envoy control plane connected state\"_ == 0\n\n---\n\n# Troubleshooting\n- RDS errors: check out the route options (e.g. WAF rules)\n- CDS errors: check out Upstreams parameters (e.g. TLS secrets)\n- LDS errors: check out the VirtualService parameters (e.g. TLS config and secrets)\n\n",
        "mode": "markdown"
      },
      "pluginVersion": "8.2.1",
      "title": "Info",
      "type": "text"
    },
    {
      "collapsed": false,
      "datasource": null,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 60
      },
      "id": 22,
      "panels": [],
      "title": "Gloo Validation Webhook",
      "type": "row"
    },
    {
      "cacheTimeout": null,
      "datasource": null,
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "links": [],
          "mappings": [],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 1
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 0,
        "y": 61
      },
      "id": 4,
      "links": [],
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": false,
        "text": {}
      },
      "pluginVersion": "8.2.1",
      "targets": [
        {
          "expr": "validation_gateway_solo_io_valid_config",
          "legendFormat": "Valid config",
          "refId": "A"
        }
      ],
      "timeFrom": null,
      "timeShift": null,
      "title": "Valid config",
      "type": "gauge"
    },
    {
      "aliasColors": {
        "{gloo=\"gateway\",instance=\"10.20.0.7:9091\",job=\"kubernetes-pods\",kubernetes_namespace=\"gloo-system\",kubernetes_pod_name=\"gateway-d77f587d6-n4vzk\",pod_template_hash=\"d77f587d6\"{{.ExtraMetricQueryParameters}}}": "red"
      },
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": null,
      "fieldConfig": {
        "defaults": {
          "links": []
        },
        "overrides": []
      },
      "fill": 1,
      "fillGradient": 0,
      "gridPos": {
        "h": 8,
        "w": 12,
        "x": 12,
        "y": 61
      },
      "hiddenSeries": false,
      "id": 6,
      "legend": {
        "avg": false,
        "current": false,
        "max": false,
        "min": false,
        "show": true,
        "total": false,
        "values": false
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "8.2.1",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "exemplar": true,
          "expr": "irate(validation_gateway_solo_io_resources_rejected{gloo=\"gateway\",job=\"kubernetes-pods\",kubernetes_namespace=\"$namespace\"{{.ExtraMetricQueryParameters}}}[1m])",
          "instant": false,
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "Resources rejected",
          "refId": "B"
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Number of recent Validation errors",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "$$hashKey": "object:102",
          "decimals": null,
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": "0",
          "show": true
        },
        {
          "$$hashKey": "object:103",
          "decimals": null,
          "format": "short",
          "label": "k",
          "logBase": 10,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "datasource": null,
      "description": "",
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": 69
      },
      "id": 35,
      "options": {
        "content": "# Alert tips\n\nAlert if:\n- valid config gauge == 0\n\n---\n\n# Troubleshooting\n- Run `glooctl check`",
        "mode": "markdown"
      },
      "pluginVersion": "8.2.1",
      "title": "Info",
      "type": "text"
    }
  ],
  "refresh": "5s",
  "schemaVersion": 31,
  "style": "dark",
  "tags": ["default"{{.ExtraDashboardTags}}],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {
          "selected": false,
          "text": "gloo-system",
          "value": "gloo-system"
        },
        "datasource": null,
        "definition": "label_values(kube_pod_info, namespace)",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": null,
        "multi": false,
        "name": "namespace",
        "options": [],
        "query": {
          "query": "label_values(kube_pod_info, namespace)",
          "refId": "StandardVariableQuery"
        },
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 0,
        "type": "query"
      }
    ]
  },
  "time": {
    "from": "now-30m",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "{{.DashboardPrefix}}Gloo Overview",
  "uid": "{{.DashboardPrefix}}gloo-overview",
  "version": 1
}