{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript",{"isTSX": true, "jsxPragma":"React"}],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
