{{- if .Values.ingress.enabled }}
# configmap
apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-envoy-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: gloo
    gloo: ingress-proxy
data:
{{ if (empty .Values.ingressProxy.configMap.data) }}
  envoy.yaml: |
    node:
      cluster: ingress
      id: "{{ `{{.PodName}}.{{.PodNamespace}}` }}"
      metadata:
        # role's value is the key for the in-memory xds cache (projects/gloo/pkg/xds/envoy.go)
        role: "{{ `{{.PodNamespace}}` }}~ingress-proxy"
    static_resources:
      clusters:
      - name: xds_cluster
        connect_timeout: 5.000s
        load_assignment:
          cluster_name: xds_cluster
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: gloo
                    port_value: {{ .Values.gloo.deployment.xdsPort }}
        http2_protocol_options: {}
        upstream_connection_options:
          tcp_keepalive: {}
        type: STRICT_DNS
    dynamic_resources:
      ads_config:
        api_type: GRPC
        grpc_services:
        - envoy_grpc: {cluster_name: xds_cluster}
      cds_config:
        ads: {}
      lds_config:
        ads: {}
    admin:
      access_log_path: /dev/null
      address:
        socket_address:
          address: 127.0.0.1
          port_value: 19000
{{- if .Values.ingressProxy.tracing }}
    tracing:
{{ toYaml .Values.ingressProxy.tracing | indent 6}}
{{- end}} # if .Values.ingressProxy.tracing
{{- else}}{{ toYaml .Values.ingressProxy.configMap.data | indent 2}}{{- end}}

{{- end }}