{{- define "clusterIngressProxy.deploymentSpec"}}
{{- if .Values.settings.integrations.knative.enabled }}
{{- if (semverCompare "< 0.8.0" .Values.settings.integrations.knative.version ) }}
{{- $image := .Values.settings.integrations.knative.proxy.image }}
{{- if .Values.global  }}
{{- $image = merge .Values.settings.integrations.knative.proxy.image .Values.global.image }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: gloo
    gloo: clusteringress-proxy
  name: clusteringress-proxy
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.settings.integrations.knative.proxy.replicas }}
  selector:
    matchLabels:
      gloo: clusteringress-proxy
  template:
    metadata:
      labels:
        gloo: clusteringress-proxy
        {{- if .Values.settings.integrations.knative.proxy.extraClusterIngressProxyLabels }}
        {{- range $key, $value := .Values.settings.integrations.knative.proxy.extraClusterIngressProxyLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .Values.global.istioIntegration.disableAutoinjection }}
        sidecar.istio.io/inject: "false"
        {{- end }}
      annotations:
        checksum/clusteringress-envoy-config: {{ include (print .Template.BasePath "/15-clusteringress-proxy-configmap.yaml") . | sha256sum }}
        {{- if .Values.settings.integrations.knative.proxy.extraClusterIngressProxyAnnotations }}
        {{- range $key, $value := .Values.settings.integrations.knative.proxy.extraClusterIngressProxyAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
    spec:
      {{- include "gloo.pullSecret" $image | nindent 6 -}}
      {{- include "gloo.podSpecStandardFields" .Values.settings.integrations.knative.proxy | nindent 6 -}}
      containers:
      - args: ["--disable-hot-restart"]
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        image: {{template "gloo.image" $image}}
        imagePullPolicy: {{ $image.pullPolicy }}
        name: clusteringress-proxy
{{- if .Values.settings.integrations.knative.proxy.resources }}
        resources:
{{ toYaml .Values.settings.integrations.knative.proxy.resources | indent 10}}
{{- end}}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
            add:
            - NET_BIND_SERVICE
        ports:
        - containerPort: {{ .Values.settings.integrations.knative.proxy.httpPort }}
          name: http
          protocol: TCP
        - containerPort: {{ .Values.settings.integrations.knative.proxy.httpsPort }}
          name: https
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/envoy
          name: envoy-config
      volumes:
      - configMap:
          name: clusteringress-envoy-config
        name: envoy-config

{{- end }}
{{- end }} {{/* if .Values.settings.integrations.knative.enabled */}}
{{- end }} {{/* define clusterIngressProxy.deploymentSpec */}}

{{/* Render template with yaml overrides */}}
{{- $kubeResourceOverride := dict -}}
{{- if .Values.settings.integrations.knative.proxy -}}
{{- if .Values.settings.integrations.knative.proxy.deployment -}}
{{- $kubeResourceOverride = .Values.settings.integrations.knative.proxy.deployment.kubeResourceOverride  -}}
{{- end -}}
{{- end -}}
{{- include "gloo.util.merge" (list . $kubeResourceOverride "clusterIngressProxy.deploymentSpec") -}}