{{ if .Values.settings.create }}

apiVersion: gloo.solo.io/v1
kind: Settings
metadata:
  name: default
  namespace: {{ .Release.Namespace }}
spec:
  bindAddr: 0.0.0.0:{{ .Values.gloo.deployment.xdsPort }}
{{- if .Values.settings.singleNamespace }}
  discoveryNamespace: {{ .Release.Namespace }}
{{- else }}
  discoveryNamespace: {{ .Values.settings.writeNamespace }}
{{- end }}
  kubernetesArtifactSource: {}
  kubernetesConfigSource: {}
  kubernetesSecretSource: {}
  refreshRate: 60s
{{- if .Values.settings.integrations.knative.enabled }}
  knative:
    clusterIngressProxyAddress: "clusteringress-proxy.{{ .Release.Namespace }}.svc.{{ $.Values.k8s.clusterName}}"
{{- end }}

{{- if ne .Values.discovery.fdsMode "" }}
  discovery:
    fdsMode: {{.Values.discovery.fdsMode}}
{{- end }}

{{- if .Values.settings.extensions }}
  extensions:
{{- toYaml .Values.settings.extensions | nindent 4 }}
{{- end }}

{{- if .Values.settings.singleNamespace }}
  watchNamespaces:
  - {{ .Release.Namespace }}
{{- else }}
{{- with .Values.settings.watchNamespaces }}
  watchNamespaces:
  {{- range . }}
  - {{ . }}
  {{- end }}
{{- end }}
{{- end }}

{{- end }}
