{{- if .Values.settings.integrations.knative.enabled }}
{{- if (semverCompare ">= 0.8.0" .Values.settings.integrations.knative.version ) }}
{{- $image := .Values.settings.integrations.knative.proxy.image }}
{{- if .Values.global  }}
{{- $image = merge .Values.settings.integrations.knative.proxy.image .Values.global.image }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: gloo
    gloo: knative-internal-proxy
  name: knative-internal-proxy
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.settings.integrations.knative.proxy.replicas }}
  selector:
    matchLabels:
      gloo: knative-internal-proxy
  template:
    metadata:
      labels:
        gloo: knative-internal-proxy
        {{- if .Values.settings.integrations.knative.extraKnativeInternalLabels }}
        {{- range $key, $value := .Values.settings.integrations.knative.extraKnativeInternalLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
      annotations:
        {{- if .Values.global.istioIntegration.disableAutoinjection }}
        sidecar.istio.io/inject: "false"
        {{- end }}
        {{- if .Values.settings.integrations.knative.extraKnativeInternalAnnotations }}
        {{- range $key, $value := .Values.settings.integrations.knative.extraKnativeInternalAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
    spec:
      {{- include "gloo.pullSecret" $image | nindent 6 }}
      containers:
      - args: ["--disable-hot-restart"]
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        image: {{template "gloo.image" $image}}
        imagePullPolicy: {{ $image.pullPolicy }}
        name: knative-internal-proxy
{{- if .Values.settings.integrations.knative.proxy.resources }}
        resources:
{{ toYaml .Values.settings.integrations.knative.proxy.resources | indent 10}}
{{- end}}
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
            add:
            - NET_BIND_SERVICE
        ports:
        - containerPort: {{ .Values.settings.integrations.knative.proxy.httpPort }}
          name: http
          protocol: TCP
        - containerPort: {{ .Values.settings.integrations.knative.proxy.httpsPort }}
          name: https
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/envoy
          name: envoy-config
      volumes:
      - configMap:
          name: knative-internal-proxy-config
        name: envoy-config

{{- end }}
{{- end }}
