{{- range $name, $spec := .Values.gatewayProxies }}
{{- if $spec.gatewaySettings}}
{{$gatewaySettings := $spec.gatewaySettings}}
{{- if not $gatewaySettings.disableGeneratedGateways}}

---
apiVersion: gateway.solo.io/v1
kind: Gateway
metadata:
  name: {{ $name | kebabcase }}
  namespace: {{ $.Release.Namespace }}
  labels:
    app: gloo
  # We need this because the gateway controller will try to write default gateway objects
  # and if it is able to do so before this resource gets applied, installation will fail.
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
spec:
  bindAddress: "::"
  bindPort: {{ $spec.podTemplate.httpPort }}
{{- if $gatewaySettings.customHttpGateway}}
  httpGateway:
{{ toYaml $gatewaySettings.customHttpGateway | indent 4}}
{{- else }}
  httpGateway: {}
{{- end }}
  useProxyProto: {{ $gatewaySettings.useProxyProto }}
  ssl: false
  proxyNames:
  - {{ $name | kebabcase }}

---

apiVersion: gateway.solo.io/v1
kind: Gateway
metadata:
  name: {{ $name | kebabcase }}-ssl
  namespace: {{ $.Release.Namespace }}
  labels:
    app: gloo
  # We need this because the gateway controller will try to write default gateway objects
  # and if it is able to do so before this resource gets applied, installation will fail.
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
spec:
  bindAddress: "::"
  bindPort: {{ $spec.podTemplate.httpsPort }}
{{- if $gatewaySettings.customHttpsGateway}}
  httpGateway:
{{ toYaml $gatewaySettings.customHttpsGateway | indent 6}}
{{- else }}
  httpGateway: {}
{{- end }}
  useProxyProto: {{ $gatewaySettings.useProxyProto }}
  ssl: true
  proxyNames:
  - {{ $name | kebabcase }}
{{- end }}
{{- end }}
{{- end }}