name: Conformance Tests
description: Run Kubernetes Gateway API conformance tests for multiple versions
inputs:
  k8sgateway-api-version:
    description: The version of the Kubernetes Gateway API CRDs to use for testing
    required: true
runs:
  using: "composite"
  steps:
  - name: Prep Go Runner
    uses: ./.github/workflows/composite-actions/prep-go-runner
  - name: Install kind
    uses: helm/kind-action@v1.10.0
    with:
      install_only: true
      version: ${{ matrix.kube-version.kind }}
  - uses: azure/setup-kubectl@v4
    id: kubectl
    with:
      version: ${{ matrix.kube-version.kubectl }}
  - uses: azure/setup-helm@v4
    with:
      version: ${{ matrix.kube-version.helm }}
  - name: Set and retrieve environment variables
    shell: bash
    run: |
      # We want to conditionally set the VERSION variable based on the matrix value
      if [[ -z "${{ matrix.version }}" ]]; then
        echo "VERSION=$(make print-VERSION)" >> $GITHUB_ENV
      else
        # else, set the VERSION variable to the matrix value and
        # skip the docker build step so we use real image tags from
        # the helm repository.
        echo "VERSION=${{ matrix.version }}" >> $GITHUB_ENV
        echo "SKIP_DOCKER=true" >> $GITHUB_ENV
      fi
  - name: Setup test env
    shell: bash
    env:
      CLUSTER_NODE_VERSION: ${{ matrix.kube-version.node }}
      IMAGE_VARIANT: ${{ matrix.image-variant }}
      CONFORMANCE: "true"
      CONFORMANCE_VERSION: ${{ inputs.k8sgateway-api-version }}
    run: ./ci/kind/setup-kind.sh
  - name: Install Gloo Gateway with the k8s gateway integration enabled
    shell: bash
    run: |
      if [[ -z "${{ matrix.version }}" ]]; then
        # If matrix.version is empty, use the local chart path specified in the Makefile.
        helm upgrade -i -n gloo-system gloo ./_test/gloo-${VERSION}.tgz --create-namespace \
          --set kubeGateway.enabled=true \
          --set global.image.variant=${{ matrix.image-variant }}
      else
        # Else, use the provided version to install Gloo from the helm repository.
        helm upgrade -i -n gloo-system gloo gloo/gloo --version ${VERSION} --create-namespace \
          --set kubeGateway.enabled=true \
          --set global.image.variant=${{ matrix.image-variant }}
      fi
  - name: Run the kubernetes gateway API conformance tests
    shell: bash
    run: make conformance
    env:
      CONFORMANCE_VERSION: ${{ inputs.k8sgateway-api-version }}
  - name: Capture debug information when tests fail
    if: ${{ failure() }}
    shell: bash
    run: |
      kubectl -n gloo-system get events --sort-by='{.lastTimestamp}'
      echo
      kubectl -n gateway-conformance-infra get events --sort-by='{.lastTimestamp}'
      echo
      kubectl -n gateway-conformance-app-backend get events --sort-by='{.lastTimestamp}'
      echo
      kubectl -n gateway-conformance-web-backend get events --sort-by='{.lastTimestamp}'
      echo
      kubectl -n gloo-system logs deploy/gloo
  - name: Upload reports
    if: ${{ failure() }}
    uses: actions/upload-artifact@v4
    with:
      # Name of the path to upload. The VERSION variable refers to the Makefile
      # VERSION variable.
      name: conformance-gloo-gateway-report-attempt-${{ github.run_attempt }}@k8s${{ matrix.kube-version.kubectl }}
      path: _test/conformance/${{ env.VERSION }}-report.yaml
