.wy-nav-side {
    background: #3a4653;
}
.wy-side-nav-search {
    background: #002853;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #d8e3dd;
}

/*.wy-nav-content {*/
    /*background: gainsboro;*/
/*}*/
