# Default values for gloo-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

ingress:
  type: NodePort
  replicaCount: 1
  port: 8080
  securePort: 8443
  exposeAdminPort: true
  adminPort: 19000
  image: "soloio/envoy"
  imageTag: "latest"
  imagePullPolicy: {{ .ImagePullPolicy }}

control_plane:
  replicaCount: 1
  port: 8081
  image: soloio/control-plane{{ .Debug }}
  imageTag: {{ .ImageTag }}
  imagePullPolicy: {{ .ImagePullPolicy }}

#  addons
function_discovery:
  image: soloio/function-discovery{{ .Debug }}
  imageTag: {{ .ImageTag }}
  imagePullPolicy: {{ .ImagePullPolicy }}
  enable: true

kube_ingress_controller:
  image: soloio/kube-ingress-controller{{ .Debug }}
  imageTag: {{ .ImageTag }}
  imagePullPolicy: {{ .ImagePullPolicy }}
  enable: true

upstream_discovery:
  image: soloio/upstream-discovery{{ .Debug }}
  imageTag: {{ .ImageTag }}
  imagePullPolicy: {{ .ImagePullPolicy }}
  enable: true