name: Gloo Regression Tests

description: Tests which run Gloo Edge in a Kubernetes cluster

runs:
  using: "composite"
  steps:
  - name: Prep Go Runner
    uses: ./.github/workflows/composite-actions/prep-go-runner
  - name: Install kind
    uses: helm/kind-action@v1.10.0
    with:
      install_only: true
      version: ${{ matrix.kube-version.kind }}
  - uses: azure/setup-kubectl@v4
    id: kubectl
    with:
      version: ${{ matrix.kube-version.kubectl }}
  - uses: azure/setup-helm@v4
    with:
      version: ${{ matrix.kube-version.helm }}
  - name: Setup test env
    shell: bash
    env:
      KUBE2E_TESTS: ${{ matrix.kube-e2e-test-type }}
      CLUSTER_NAME: 'kind'
      CLUSTER_NODE_VERSION: ${{ matrix.kube-version.node }}
      IMAGE_VARIANT: ${{ matrix.image-variant }}
    run: ./ci/kind/setup-kind.sh
  - name: Testing - kube e2e regression tests
    env:
      KUBE2E_TESTS: ${{ matrix.kube-e2e-test-type }}
      IMAGE_VARIANT: ${{ matrix.image-variant }}
    shell: bash
    run: make install-test-tools run-kube-e2e-tests
  - uses: actions/upload-artifact@v4
    if: ${{ failure() }}
    with:
      name: ${{matrix.kube-e2e-test-type}}@k8s${{matrix.kube-version.kubectl}}-kube-dump
      path: "_output/kube2e-artifacts"
      if-no-files-found: warn