name: Check Code and Docs Gen
on: pull_request
jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
      id: go
    - name: Install Protoc
      uses: arduino/setup-protoc@v1.1.0
      with:
        version: '3.6.1'
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Generate Code
      run: |
        ./ci/check-code-and-docs-gen.sh
    - uses: azure/setup-helm@v1
      with:
        version: v3.2.0
    - uses: engineerd/setup-kind@v0.4.0
      with:
        name: kind
    - uses: azure/setup-kubectl@v1
      id: kubectl
      with:
        version: 'v1.18.0'
    - name: Setup env
      env:
        # version for tag tags
        VERSION: kind
      run: |
        ./ci/kind.sh
    - name: Testing - cluster lock
      env:
        RUN_KUBE2E_TESTS: '1'
        CLUSTER_LOCK_TESTS: '1'
      run: |
        go test ./test/kube2e/...
    - name: Debug Info
      if: failure()
      run: |
        # see what's in the cluster if we failed
        kubectl get all -A
        kubectl get configmaps -A
