name: Docs

env:
    SLACK_DEBUG_TESTING: false      # when set to "true", send notifications to #slack-integration-testing.  Otherwise, post to #edge-team-bots
    MIN_SCANNED_VERSION: 'v1.11.0'  # ⚠️ you should also change trivy-analysis-scheduled.yaml ⚠️
on:
  push:
    branches:
    - 'main'
    - 'v1.14.x'
    - 'v1.13.x'
    - 'v1.12.x'
    - 'v1.11.x'
  pull_request:
    branches:
    - 'main'
  workflow_run:
    workflows: ["security-scan-scheduled"]
    types:
      - completed
jobs:
  prepare_env:
    name: Prepare Environment
    runs-on: ubuntu-22.04
    outputs:
      should-build-docs: ${{ env.build_value }}
      should-pass-docs: ${{ env.pass_value }}
    steps:
      - id: is-draft-pr
        name: Process draft Pull Requests
        if: ${{ github.event.pull_request.draft }}
        run: echo "is_draft_pr=true" >> $GITHUB_ENV
      - id: signal-docs-comment
        name: Process comments on Pull Request to signal Docs
        if: ${{ github.event.issue.pull_request }}
        run: echo "signal_docs_comment=${{ contains(github.event.comment.body, '/sig-docs') }}" >> $GITHUB_ENV
      - id: skip-docs-comment
        name: Process comments on Pull Request to skip Docs
        if: ${{ github.event.issue.pull_request }}
        run: echo "skip_docs_comment=${{ contains(github.event.comment.body, '/skip-docs') }}" >> $GITHUB_ENV
      - id: build-docs
        name: Determine whether or not to build docs
        run: |
          should_build=true
          should_pass=false

          is_draft_pr=${{ env.is_draft_pr }}
          if [[ ! -z $is_draft_pr && $is_draft_pr = true ]] ; then
            should_build=false
          fi

          pr_comment_signal=${{ env.signal_docs_comment }}
          if [[ ! -z $pr_comment_signal && $pr_comment_signal = true ]] ; then
            should_build=true
          fi

          pr_comment_skip=${{ env.skip_docs_comment }}
          if [[ ! -z $pr_comment_skip && $pr_comment_skip = true ]] ; then
            should_pass=true
          fi

          echo "Should build docs? $should_build"
          echo "Should auto-pass docs? $should_pass"
          echo "build_value=$should_build" >> $GITHUB_ENV
          echo "pass_value=$should_pass" >> $GITHUB_ENV
  build:
    name: Generate versioned docs site
    needs: prepare_env
    if: needs.prepare_env.outputs.should-build-docs == 'true'
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code into the Go module directory
      if: needs.prepare_env.outputs.should-pass-docs != 'true'
      uses: actions/checkout@v3
      with:
        ref: main
    - name: Override main checkout if deploying PR test
      if: ${{ github.event_name == 'pull_request' }}
      uses: actions/checkout@v3
    - uses: ./.github/workflows/composite-actions/prep-go-runner
    - name: Setup Hugo
      if: needs.prepare_env.outputs.should-pass-docs != 'true'
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.69.2'
    - name: Detect Community PR
      id: community-pr-check
      if: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != 'solo-io/gloo' }}
      shell: bash
      run: |
        echo "Pull Request is from a fork. Setting is_community_pr to true"
        echo "is_community_pr=true" >> $GITHUB_ENV
    - name: Generate versioned docs site
      if: ${{ !env.is_community_pr && needs.prepare_env.outputs.should-pass-docs != 'true' }}
      run: make -C docs build-site
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        USE_PR_SHA_AS_MAIN: ${{ github.event_name == 'pull_request' }}
        PULL_REQUEST_SHA: ${{ github.event.pull_request.head.sha }}
    - name: Deploy to Firebase (live docs)
      # Do not publish docs if this workflow was triggered by a pull request
      # Only deploy if this was triggered by a push to main, or a successful trivy workflow_run
      if: ${{ github.event_name != 'pull_request' }}
      uses: FirebaseExtended/action-hosting-deploy@main
      with:
        repoToken: ${{ secrets.GITHUB_TOKEN }}
        firebaseServiceAccount: ${{ secrets.GC_FIREBASE_GHA_SA_JSON_KEY }}
        projectId: ${{ secrets.GC_FIREBASE_GHA_PROJECT_ID }}
        channelId: live
        entryPoint: ./docs/ci
    - name: Deploy to Firebase (preview)
      # Generate live preview of docs for PRs to main
      if: ${{ github.event_name == 'pull_request' && !env.is_community_pr && needs.prepare_env.outputs.should-pass-docs != 'true' }}
      uses: FirebaseExtended/action-hosting-deploy@main
      with:
        repoToken: ${{ secrets.GITHUB_TOKEN }}
        firebaseServiceAccount: ${{ secrets.GC_FIREBASE_GHA_SA_JSON_KEY }}
        projectId: ${{ secrets.GC_FIREBASE_GHA_PROJECT_ID }}
        entryPoint: ./docs/ci
    - name: Notify On Failure
      id: notify-on-failure
      if: ${{ github.event_name != 'pull_request' && failure() }}
      run : |
        curl -X POST\
             -H 'Content-type: application/json'\
             --data '{"text":"Gloo Edge has <https://github.com/solo-io/gloo/actions/runs/${{github.run_id}}|failed a docs build> on `main` branch"}'\
             ${{ env.SLACK_DEBUG_TESTING == true && secrets.SLACK_INTEGRATION_TESTING_WEBHOOK || secrets.EDGE_TEAM_BOTS_WEBHOOK }}
