name: issue_board

on:
  issues:
    types:
      - opened
      - labeled
jobs:
  add-to-project:
    name: Add Gloo OSS issue to Gloo Edge or Docs project board
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/solo-io/projects/22
          github-token: ${{ secrets.ORG_CROSS_REPO_TROIS }}
          labeled: "Type: Enhancement,Type: Bug"
          label-operator: OR
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/solo-io/projects/24
          github-token: ${{ secrets.ORG_CROSS_REPO_TROIS }}
          labeled: "Type: Docs"
