name: CI
on:
  push:
    branches:
      - 'master'
  pull_request:
jobs:
  prepare_env:
    name: Prepare Environment
    runs-on: ubuntu-22.04
    outputs:
      should-run-regression-tests: ${{ steps.regression-tests.outputs.run_value }}
      should-pass-regression-tests: ${{ steps.regression-tests.outputs.pass_value }}
    steps:
    - name: Cancel Previous Actions
      uses: styfle/cancel-workflow-action@0.4.1
      with:
        access_token: ${{ github.token }}
    - id: is-draft-pr
      name: Process draft Pull Requests
      if: ${{ github.event.pull_request.draft }}
      run: echo "::set-output name=value::$(echo true)"
    - id: signal-ci-comment
      name: Process comments on Pull Request to signal CI
      if:  ${{ github.event.issue.pull_request }}
      run: |
        echo "::set-output name=value::$(echo ${{ contains(github.event.comment.body, '/sig-ci') }})"
    - id: skip-ci-comment
      name: Process comments on Pull Request to skip CI
      if: ${{ github.event.issue.pull_request }}
      run: echo "::set-output name=value::$(echo ${{ contains(github.event.comment.body, '/skip-ci') }})"
    - id: regression-tests
      name: Determine how to run regression tests
      run: |
        should_run=true
        should_pass=false

        is_draft_pr=${{ steps.is-draft-pr.outputs.value }}
        if [[ ! -z $is_draft_pr && $is_draft_pr = true ]] ; then
          should_run=false
        fi

        pr_comment_signal=${{ steps.signal-ci-comment.outputs.value }}
        if [[ ! -z $pr_comment_signal && $pr_comment_signal = true ]] ; then
          should_run=true
        fi

        pr_comment_skip=${{ steps.skip-ci-comment.outputs.value }}
        if [[ ! -z $pr_comment_skip && $pr_comment_skip = true ]] ; then
          should_pass=true
        fi

        echo "Should run regression tests? $should_run"
        echo "Should auto-pass regression tests? $should_pass"
        echo "::set-output name=run_value::$(echo $should_run)"
        echo "::set-output name=pass_value::$(echo $should_pass)"
  regression_tests:
    name: k8s regression tests
    needs: prepare_env
    if: needs.prepare_env.outputs.should-run-regression-tests == 'true'
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        # knative support has been deprecated: https://github.com/solo-io/gloo/issues/5707
        # We have removed it from our CI regression tests
        kube-e2e-test-type: ['gateway', 'gloo', 'ingress', 'helm', 'gloomtls', 'glooctl']
        xds-relay: [ 'false' ]
        include:
          - kube-e2e-test-type: 'gateway'
            xds-relay: 'true'
    steps:
    - name: Cancel Previous Actions
      uses: styfle/cancel-workflow-action@0.4.1
      with:
        access_token: ${{ github.token }}
    - name: Free disk space
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      run: |
        echo "Before clearing disk space:"
        df -h

        # https://github.com/actions/virtual-environments/issues/709
        sudo apt-get clean

        # Clean up pre-installed tools
        # https://github.com/actions/virtual-environments/issues/1918
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf $AGENT_TOOLSDIRECTORY

        echo "After clearing disk space:"
        df -h
    - name: Set up Go
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.2
      id: go
    - name: Check out code into the Go module directory
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/cache@v1
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: engineerd/setup-kind@v0.5.0
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      with:
        # We rely on the `deploy-to-kind-cluster` script to create a kind cluster
        skipClusterCreation: true
        version: v0.11.1
    - uses: azure/setup-kubectl@v1
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      id: kubectl
      with:
        version: 'v1.22.4'
    - uses: azure/setup-helm@v1
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      with:
        version: v3.6.3
    - name: Setup test env
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      env:
        KUBE2E_TESTS: ${{ matrix.kube-e2e-test-type }}
        USE_XDS_RELAY: ${{ matrix.xds-relay }}
        CLUSTER_NAME: 'kind'
        CLUSTER_NODE_VERSION: 'v1.22.4@sha256:ca3587e6e545a96c07bf82e2c46503d9ef86fc704f44c17577fca7bcabf5f978'
        VERSION: '0.0.0-kind1'
      run: |
        ./ci/deploy-to-kind-cluster.sh
    - name: Testing - kube e2e regression tests
      if: needs.prepare_env.outputs.should-pass-regression-tests != 'true'
      env:
        KUBE2E_TESTS: ${{ matrix.kube-e2e-test-type }}
        ACK_GINKGO_RC: true
        ACK_GINKGO_DEPRECATIONS: 1.16.5
      run: |
        make run-ci-regression-tests
    - uses: testspace-com/setup-testspace@v1
      with:
        domain: solo-io.testspace.com
      if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    - name: Push result to Testspace server
      run: |
        testspace push --verbose "**/junit.xml"
      if: ${{ always() && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    - name: Debug Info
      if: failure()
      run: |
        # see what's in the cluster if we failed
        kubectl get all -A
        kubectl get configmaps -A
    - name: Set pull_request_url
      if: ${{ github.event_name == 'pull_request' && failure() }}
      run: echo "pull_request_url=$(cat ${{ github.event_path }} | jq --raw-output .pull_request._links.html.href)" >> $GITHUB_ENV
    - name: Set direct_message_id
      if: ${{ github.event_name == 'pull_request' && failure() }}
      run: echo "direct_message_id=$(cat ./.github/workflows/notify-on-regression-failure-list.json | jq -r '."${{ github.actor }}"')" >> $GITHUB_ENV
    - name: Send Message
      id: message-on-fail
      if: ${{ github.event_name == 'pull_request' && failure() }}
      shell: bash
      run: |
        curl -X POST https://slack.com/api/chat.postMessage\
              -H "Content-Type: application/json; charset=utf-8"\
              -H "Authorization: Bearer ${{ secrets.SLACKBOT_BEARER }}"\
              -d '{"channel":"${{ env.direct_message_id }}","text":"Hey, `${{ github.actor }}`!  The <https://github.com/solo-io/gloo/actions/runs/${{github.run_id}}|regression tests> for your <${{ env.pull_request_url }}|${{ github.head_ref }} PR> have failed."}'